body {
    display: grid;
    grid-template: 50px repeat(5, 1fr) / 1fr;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.title {
    text-align: center;
    color:rgb(100, 33, 16)
}

.top-bar {
    background-color: rgb(197, 141, 67);
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
}

.shelf {
    background-color: rgb(233, 212, 181);
    width: 100%;
    height: 100%;
    grid-row-start: 2;
    grid-row-end: 7;
}

.add-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(10, 150, 10);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:  50%;
    font-size: 3.5em;
    color:rgb(238, 216, 91)
}

.form-container {
    background: linear-gradient(180deg, rgb(224, 138, 88), rgb(156, 76, 22));
    border:black 3px solid;
    border-radius: 10px;
    height: 400px;
    width: 300px;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: 600;
    color:rgb(100, 33, 16)
}

form {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: repeat(7, 1fr) / 1fr;
}

.input-container {
    display: flex;
    align-items: center;
}

#titleInput, #authorInput, #numberInput, #page-number {
    width: 60%;
    height: 20px;;
    background-color:rgb(83, 83, 83) ;
    border: rgb(0, 0, 0) 1px solid;
    grid-row-start: 1;
    grid-row-end: 4;
}

#page-number {
    width: 50px;
}

label {
    margin-left: 10px;
}

h1 {
    text-align: center;
}

#submit-btn {
    background-color:rgb(83, 83, 83) ;
    color: white;
    width: 50%;
    height: 30px;
    margin: 0 auto;
    grid-row-start: 7;
    grid-row-end: 8;
}
